.basket{
  text-align: right;
}
.summ{
  font-size: 20px;
  font-weight: bold;
  text-align: end;
}
.btn-add{
  width: 30px;
  height: 30px;
}
.btn-delete{
  width: 30px;
  height: 30px;
}
.form_zakaz{
  margin-top: 60px;
}